<div class="row">
    <div class="col-4">
     Div 1 Value --  {{showhide}}
    </div>
    <div class="col-4">
      Student value--   {{studentNameOne == studentNameTwo}}
    </div>
    <div class="col-4">
        
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="bg-success p-3" *ngIf="showhide">
            div 1
        </div>
    </div>
    <div class="col-4">
        <div class="bg-info p-3" *ngIf="studentNameOne == studentNameTwo">
            div 2
        </div>
    </div>
    <div class="col-4">
        <div class="bg-warning p-3" *ngIf="false">
            div 3
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4">
        <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="showDiv()">Show</button>
            <button type="button" class="btn btn-secondary" (click)="hideDiv()">Hide</button>

        </div>
    </div>
    <div class="col-4">
        <div>
            <input type="text" name="studone" [(ngModel)]="studentNameOne">
            <input type="text" name="studtwo" [(ngModel)]="studentNameTwo">

        </div>
    </div>
    <div class="col-4">
        <div></div>
    </div>
</div>