<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th appHightlightMe [myColor]="'green'">Email</th>
                        <th appHightlightMe [myColor]="'yellow'">Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ABC</td>
                        <td>abcgmail.com</td>
                        <td>9897654326</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>